#  Závislosti Node.js
node_modules/
package-lock.json

# Uživatelská databáze nebo výstupy
/database/

# Nastavení editorů (VS Code, JetBrains apod.)
.vscode/
.idea/
*.swp
*.swo

#Dočasné systémové soubory (macOS, Windows)
.DS_Store
Thumbs.db
#####